{% extends 'farmer/farmer_base.html' %}


{% block content %}
    <style>
        .jumbotron {
            margin-top: 300px;
        }
    </style>
      
    <div class="jumbotron">
        <h1 class="text-center" style="margin-top: -120px;">Available Products</h1>
      
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Sno</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
               
            </tr>
            </thead>
            <tbody>
           
                <tr>
                    <th>1</th>
                    <td>Product1 (p1)</td>
                    <td>150$</td>
                </tr>
           
                <tr>
                    <th>2</th>
                    <td>Product1 (p2)</td>
                    <td>150$</td>
                </tr>
           
                <tr>
                    <th>3</th>
                    <td>Product1 (p3)</td>
                    <td>150$</td>
                </tr>
           
                <tr>
                    <th>4</th>
                    <td>Product1 (p4)</td>
                    <td>150$</td>
                </tr>
           
           
                <tr>
                    <th>5</th>
                    <td>Product1 (p5)</td>
                    <td>150$</td>
                </tr>
           

            </tbody>
        </table>
    </div>
</div>
{% endblock %}